import java.util.Scanner;
class bai2 {
    public static void main(String[] args) {

        Scanner scanner = new Scanner(System.in);

        // Nhập thông tin sinh viên
        System.out.print("Nhập họ và tên: ");
        String fullName = scanner.nextLine();

        System.out.print("Nhập lớp: ");
        String className = scanner.nextLine();

        System.out.print("Nhập mã số sinh viên: ");
        String studentID = scanner.nextLine();

        // In thông tin sinh viên ra màn hình
        System.out.println("\nThông tin sinh viên:");
        System.out.println("Họ và tên: " + fullName);
        System.out.println("Lớp: " + className);
        System.out.println("Mã số sinh viên: " + studentID);

        scanner.close();
    }
}
